# Git
.git/
.gitignore

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Data
data/
# models/
*.parquet
*.pkl
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store